$primary-color : #242585;
$seconday-color : #F64C72;

 .primary-color {
   background-color: $primary-color;
 }

 .seconday-color {
   background-color: $seconday-color;
 }

 .footer {
   min-height: 100px;
 }

 .mt {
   margin-top: 72px;
 }
